<!DOCTYPE html>
<html>
<head>
	<title>Green Skin, Black Hearts</title>
	<script src="https://unpkg.com/vue"></script>
	<script src="jQuery.js"></script>
	<link rel="stylesheet" href="default.css" type="text/css">
</head>

<body>
<div id="app">
	<div id="tabSelect">
		<button type="button" v-on:click="selectTab(tab)" class="tabButton" :id="tab.id" v-for="tab in tabs" v-bind:class="{highlighted: tab.active}">
			{{tab.name}}
		</button>
	</div>
	
	<div id="buildingTab" class="tab" v-bind:class="{inactiveTab: !tabs.buildings.active}">
		<div id="buildings" class="container">
			<div v-for="building in buildings" v-if="building.unlocked" :id="building.id" class="flexContainer">
				<button  v-on:click="addBuilding(building)" :disabled="isPurchaseDisabled(building)" type="button" class="tooltip building wideFlex">
					<span class="left buttonText">{{building.name}}</span>
					<span class="right buttonText">{{building.current}}</span>
					
					<span class="tooltipText">
						{{building.flavor}}<br /><br />
						<span v-if="building.orcPrice != undefined">Orcs: {{building.orcPrice}}</span>
						<span v-for="priceType in building.price" v-if="priceType.price != 0"><br />{{priceType.type.name}}: {{priceType.price}}</span>
					</span>
				</button>
				<button v-if="building.tier > 1 && building.oldTier.current > 0" v-on:click="upgradeBuilding(building)" type="button" class="narrowFlex" :disabled="isUpgradeDisabled(building)">
					^
				</button>
				<button v-if="building.consumer && building.current > 0" v-on:click="toggleBuilding(building)" type="button" class="narrowFlex" v-bind:class="{activeToggleOn: building.active}">
					Zzz
				</button>
			</div>
		</div>
	</div>
	
	<div id="upgradeTab" class="tab" v-bind:class="{inactiveTab: !tabs.upgrades.active}">
		<div id="upgrades" class="container">
			<button v-for="upgrade in upgrades" v-if="!upgrade.purchased && (upgrade.unlockReq == upgrade.unlockPoints)" v-on:click="buyUpgrade(upgrade)"
			:id="upgrade.id" :key="upgrade.id" :disabled="isPurchaseDisabled(upgrade)" type="button" class="tooltip">
				<span class="buttonText">{{upgrade.name}}</span>
				<span class="tooltipText">
					{{upgrade.flavor}}<br /><br />
					<span v-if="upgrade.orcPrice != undefined">Orcs: {{upgrade.orcPrice}}<br /></span>
					<span v-for="priceType in upgrade.price"><br />{{priceType.type.name}}: {{priceType.price}}</span>
				</span>
			</button>
		</div>
	</div>
	
	<div id="eventLog" class="container">
		<p v-for="entry in eventLog" class="eventLogEntry">{{entry}}</p>
	</div>
	
	<div id="resources" class="container">
		<span v-for="resource in resources" :key="resource.id">
			<span v-if="resource.discovered == true">
				<span class="left">
					{{resource.name}}: 
					{{resource.current}}
					<span v-if="resource.max != undefined">/{{resource.max}}</span>
				</span>
				<span class="right">
					{{resource.productionRate}}/sec
				</span>
				<div style="clear: both;"></div> <!--Clear left/right float properties-->
			</span>
		</span>
	</div>
	
	<div id="orcs" class="container">
		<p class="left">Available Orcs: {{orcs.current}}/{{orcs.total}}</p>
		<p class="right">Meat Needed/Remaining: {{orcs.price}}/{{meatForNextOrc}}</p>
		<div id="orcProgress">
			<div id="orcBar"></div>
		</div>
	</div>
</div>
<script type="module" src="main.js"></script>
</body>
</html>