<!DOCTYPE html>
<html>
<head>
	<title>Green Skin, Black Hearts</title>
	<script src="https://unpkg.com/vue"></script>
	<script src="jQuery.js"></script>
	<link rel="stylesheet" href="default.css" type="text/css">
</head>

<body>
<div id="app">
	<div id="tabSelect">
		<button type="button" v-on:click="selectTab(tab)" class="tabButton" :id="tab.id" v-for="tab in tabs">
			{{tab.name}}
		</button>
	</div>
	
	<div id="buildingTab" class="tab">
		<div id="buildings" class="container">
			<button v-for="building in buildings" v-on:click="addBuilding(building)" v-if="building.unlocked"
			:id="building.id" :disabled="isPurchaseDisabled(building)" type="button" class="tooltip">
				<p class="left buttonText">{{building.name}}</p>
				<p class="right buttonText">{{building.current}}</p>
				<div style="clear: both;"></div> <!--Clear left/right float properties-->
				
				<span class="tooltipText">
					{{building.flavor}}<br /><br />
					<span v-if="building.orcPrice != undefined">Orcs: {{building.orcPrice}}</span>
					<span v-for="priceType in building.price"><br />{{priceType.type.name}}: {{priceType.price}}</span>
				</span>
			</button>
		</div>
	</div>
	
	<div id="upgradeTab" class="tab">
		<div id="upgrades" class="container">
			<button v-for="upgrade in upgrades" v-if="!upgrade.purchased && upgrade.unlocked" v-on:click="buyUpgrade(upgrade)"
			:id="upgrade.id" :key="upgrade.id" :disabled="isPurchaseDisabled(upgrade)" type="button" class="tooltip">
				<p class="buttonText">{{upgrade.name}}</p>
				<span class="tooltipText">
					{{upgrade.flavor}}<br /><br />
					<span v-if="upgrade.orcPrice != undefined">Orcs: {{upgrade.orcPrice}}<br /></span>
					<span v-for="priceType in upgrade.price"><br />{{priceType.type.name}}: {{priceType.price}}</span>
				</span>
			</button>
		</div>
	</div>
	
	<div id="eventLog" class="container">
		<p v-for="entry in eventLog">{{entry}}</p>
	</div>
	
	<div id="resources" class="container">
		<p v-for="resource in resources" :key="resource.id">
			<span v-if="resource.discovered == true">
				{{resource.name}}: 
				{{resource.current}}
				<span v-if="resource.max != undefined">/{{resource.max}}</span>
			</span>
		</p>
	</div>
	
	<div id="orcs" class="container">
		<p class="left">Available orcs: {{orcs.current}}/{{orcs.total}}</p>
		<p class="right">Meat needed for next: {{meatForNextOrc}}</p>
		<div id="orcProgress">
			<div id="orcBar"></div>
		</div>
	</div>
</div>
<script src="main.js"></script>
</body>
</html>